<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   
   <extension point="com.mia.studio.generation.core.generation_package">
      <package file="com.mia.miniproject.mvc2java.generation.model.pkg"/>
   </extension>
   <extension point="com.mia.studio.generation.core.generation_package">
      <package file="com.mia.miniproject.mvc2java.generation.ui.controler.pkg"/>
   </extension>
   <extension point="com.mia.studio.generation.core.generation_package">
      <package file="com.mia.miniproject.mvc2java.generation.ui.view.pkg"/>
   </extension>
</plugin>
